.c-lista-producto {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.c-lista-producto:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.c-lista img {
  border-radius: 10px;
  margin-bottom: 8px;
}
.c-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

